<html>
  <head>
    <meta charset="UTF-8">
    <title>Afficher avis</title>
  </head>
  <body>
    <h1>Etablissement</h1>
    <p> {{ etablissement.nom }}</p>
    <h1>Equipements</h1>
    {% for equipement in etablissement.lesEquipements %}
      <li> libelle : {{ equipement.libelle }}</li>
    {% endfor %}
  </body>
</html>
