{% extends 'base.html.twig' %}

{% block title %}Ajout avec succès d'un membre - Agence Voyage{% endblock %}

{% block body %}
<center><p>L'avis a été enrengistré avec succès</p></center>
{% endblock %}
