<html>
  <head>
    <meta charset="UTF-8">
    <title>Afficher un avis</title>
  </head>
  <body>
    <h1>Avis</h1>
    <p> {{ avis }}</p>
    <h1>Membre</h1>
    <p> Nom : {{ avis.unMembre }}</p>
    <h1>Etablissement</h1>
    <p> {{ avis.unEtablissement }}</p>
  </body>
</html>
