<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Liste des avis</h1>
    <ul>
      {% for i in 1..nombre %}
        <li> avis n°{{ i }}</li>
    {% endfor %}
    </ul>
  </body>
</html>
