{% extends 'base.html.twig' %}

{% block title %}Ajout avec succès d'un établissement - Agence Voyage{% endblock %}

{% block body %}
<center><p>L'établissement a été enrengistré avec succès</p></center>
{% endblock %}
