
{% extends 'base.html.twig' %}

{% block title %}administration - Agence de voyage{% endblock %}

{% block body %}

<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body><center>
  
    <p> Bienvenue sur la page administration du site </p>
    <br>
    <br>
    <p>Version 1.1</p>
  </center></body>
</html>
{% endblock %}
