{% extends 'base.html.twig' %}

{% block title %}Differents affichages - Agence Voyage{% endblock %}

{% block body %}
<center>
<p>Afficher un membre: <br>
http://projetvoyagedimitri.space/afficher/membre/ + id du membre</p>
<p>Afficher un avis: <br>
http://projetvoyagedimitri.space/afficher/avis/ + id de l'avis</p>

</center>

{% endblock %}
