{% extends 'base.html.twig' %}

{% block title %}AjouterMembreFormController!{% endblock %}

{% block body %}

<h1>Ajouter un nouveau membre</h1>
<p>
{{ form_start(form) }}
{{ form_widget(form) }}
<input type="submit" />
{{ form_end(form) }}
</p>
{% endblock %}
