{% extends 'base.html.twig' %}

{% block title %}Ajouter un equipement - Agence de voyage{% endblock %}

{% block body %}
<center>
<h1>Ajouter un nouvel equipement</h1>
<p>
{{ form_start(form) }}
{{ form_widget(form) }}
<input type="submit" />
{{ form_end(form) }}
</p>
</center>
{% endblock %}
