{% extends 'base.html.twig' %}

{% block title %}Accueil - Agence de Voyage{%endblock%}

{% block body %}
    <div><center>
        Bienvenue {{ nom }}, votre avis sur {{ pays}} nous intéresse
    </center></div>
{% endblock %}